header{
    background-color:dodgerblue;
    padding: 10px;
    text-align: center;
}
nav{
    background-color:deeppink;
    padding: 5px;
}
section{
    float: left;
    width: 60%;
    background-color: rgba(119, 136, 153, 0.884);
    text-align: center;
}
aside{
    float: left;
    width: 40%;
    text-align: center;
    background-color:rgb(255, 255, 255)
}
footer{
    background-color:  dodgerblue;
    padding: 3px;
    text-align: center;
}
.Contenedor::after{
    content: "";
    display: block;
    clear: both;
}

    

